---
layout: page
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}

  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="post-meta">{{ post.date | date: '%d.%m.%Y' }}</p>
  {{ post.excerpt }}
  <a href="{{ post.url }}">Read more...</a>

  {% unless forloop.last %}
  <hr>
  {% endunless %}

{% endfor %}

<br><br>

<!-- Pagination links -->

{% if paginator.total_pages > 1 %}

  <nav aria-label="Page navigation example">
    <ul class="pagination">
    {% if paginator.previous_page %}
      <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class="page-item active"><span class="page-link">{{ page }}</span></li>
      {% elsif page == 1 %}
        <li class="page-item"><a class="page-link" href="{{ site.paginate_path | replace: '/page:num', '' }}">{{ page }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}
    {% if paginator.next_page %}
      <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path }}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
    </ul>
  </nav>

{% endif %}
